<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cadastrar Pessoa</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar(opcao='agendamentos')}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">
					
				<form th:action="@{/agendamentos/escolherpessoa}" method="GET">
					<input th:if="${session.agendamento.cliente== null}" type="submit" value="Escolher Cliente" class="btn btn-primary mt-3">
					<input th:if="${session.agendamento.cliente!= null}" type="submit" value="Trocar Cliente" class="btn btn-primary mt-3">
				</form>

				<div th:if="${session.agendamento.cliente!= null}" class="mt-3">
					<p th:text="'Nome: ' + ${session.agendamento.cliente.nome}"></p>
					<p th:text="'CPF: ' + ${session.agendamento.cliente.cpf}"></p>
				</div>

				<div th:if="${session.agendamento.cliente!= null}">
					<form th:action="@{/agendamentos/escolherservico}" method="GET">
						<input th:if="${session.agendamento.servico == null}" type="submit" value="Escolher Servico" class="btn btn-primary mt-3">
						<input th:if="${session.agendamento.servico != null}" type="submit" value="Trocar Servico" class="btn btn-primary mt-3">
					</form>
					<div th:if="${session.agendamento.servico != null}" class="mt-3">
						<p th:text="'Nome: ' + ${session.agendamento.servico.nome}"></p>
					</div>
				</div>

                
				<div th:if="${session.agendamento.servico != null and session.agendamento.funcionario==null and session.agendamento.cliente != null} ">
					<form action="/agendamentos/abrirescolherhorario" method="GET">
						<label th:if="${session.agendamento.servico != null}" for="funcionarios" class="form-label mt-3">Funcionarios:</label>
						<div th:if="${session.agendamento.servico != null}">
							<div th:each="func: ${session.agendamento.servico.funcionarios}" class="form-check">
								<input type="radio" th:id="func + ${func.codigo}" name="func" class="form-radio-input" th:field="${funcionario.codigo}" th:value="${func.codigo}">
								<label th:for="func + ${func.codigo}" th:text="${func.nome}" class="form-check-label">Texto checkbox 1</label>
							</div>
						</div>
	
						<div th:if="${session.agendamento.servico != null}" class="mt-3">
							<label for="dataAgendamento" class="form-label">Data desejada:</label>
							<input type="text" th:field="${dia.dataAgendamento}" class="form-control componentedata">
						</div>
						
						<button type="submit" class="btn btn-primary mt-3">Escolher horario</button>
					</form>

				</div>
				<div th:if="${session.agendamento.funcionario!=null} ">
					<p th:text="'Funcionario escolhido: ' + ${session.agendamento.funcionario.nome}"></p>
					<p th:text="'Data de agendamento: ' + ${#temporals.format(session.agendamento.codigo_dia_agendamento_cliente.dataAgendamento, 'dd/MM/yyyy')}"></p>
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_7}" for="h_7" class="form-check-label">Horario marcado: 7 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_7}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_8}" for="h_8" class="form-check-label">Horario marcado: 8 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_8}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_9}" for="h_9" class="form-check-label">Horario marcado: 9 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_9}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_10}" for="h_10" class="form-check-label">Horario marcado: 10 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_10}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_11}" for="h_11" class="form-check-label">Horario marcado: 11 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_11}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_12}" for="h_12" class="form-check-label">Horario marcado: 12 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_12}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_13}" for="h_13" class="form-check-label">Horario marcado: 13 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_13}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_14}" for="h_14" class="form-check-label">Horario marcado: 14 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_14}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_15}" for="h_15" class="form-check-label">Horario marcado: 15 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_15}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_16}" for="h_16" class="form-check-label">Horario marcado: 16 horas</label>
					<br th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_16}">
					<label th:if="${session.agendamento.codigo_dia_agendamento_cliente.h_17}" for="h_17" class="form-check-label">Horario marcado: 17 horas</label>
					

                    
				</div>
				
				<div th:if="${session.agendamento.servico != null and session.agendamento.funcionario!=null and session.agendamento.cliente != null and session.agendamento.codigo_dia_agendamento != null} ">
					<form th:action="@{/agendamentos/cadastrar}" method="POST">
						<input type="submit" value="Confirmar Horario" class="btn btn-primary mt-3">
					</form>
				</div>

				

				<div th:if="${notificacao != null}" th:object="${notificacao}">
					<input type="hidden" id="mensagem" th:value="*{mensagem}">
					<input type="hidden" id="tipo" th:value="*{tipo}">
					<input type="hidden" id="intervalo" th:value="*{intervalo}">
				</div>

			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

</body>
</html>