<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cadastrar Pessoa</title>
</head>
<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar(opcao='agendamentos')}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">
					
                <form th:action="@{/agendamentos/escolherhorario}" method="POST">
                    
					
                    <label for="dataAgendamento" class="form-label" th:text="'Data de agendamento: ' + ${#temporals.format(diaAgendamento.dataAgendamento, 'dd/MM/yyyy')}"></label>
                    <br>
                    
                    <label for="funcionario" class="form-label" th:text="'Funcionario: ' + ${diaAgendamento.funcionario.nome}"></label>
                    <br>

                    <label> Escolha um Horario</label>
                    <br>

                    <label th:if= "${!diaAgendamento.h_7}" for="h_7" class="form-check-label">7 horas:</label>
                    <input th:if= "${!diaAgendamento.h_7}" type="checkbox" th:field="${diaCliente.h_7}" class="form-check-input" th:value = "${diaCliente.h_7}" >
                    <br th:if= "${!diaAgendamento.h_7}">

                    <label th:if= "${!diaAgendamento.h_8}" for="h_8" class="form-check-label">8 horas:</label>
                    <input th:if= "${!diaAgendamento.h_8}" type="checkbox" th:field="${diaCliente.h_8}" class="form-check-input" th:value = "${diaCliente.h_8}">
                    <br th:if= "${!diaAgendamento.h_8}">

                    <label th:if= "${!diaAgendamento.h_9}" for="h_9" class="form-check-label">9 horas:</label>
                    <input th:if= "${!diaAgendamento.h_9}" type="checkbox" th:field="${diaCliente.h_9}" class="form-check-input" th:value = "${diaCliente.h_9}">
                    <br th:if= "${!diaAgendamento.h_9}">

                    <label th:if= "${!diaAgendamento.h_10}" for="h_10" class="form-check-label">10 horas:</label>
                    <input th:if= "${!diaAgendamento.h_10}" type="checkbox" th:field="${diaCliente.h_10}" class="form-check-input" th:value="${diaCliente.h_10}"/>
                    <br th:if= "${!diaAgendamento.h_10}">

                    <label th:if= "${!diaAgendamento.h_11}" for="h_11" class="form-check-label">11 horas:</label>
                    <input th:if= "${!diaAgendamento.h_11}" type="checkbox" th:field="${diaCliente.h_11}" class="form-check-input" th:value = "${diaCliente.h_11}">
                    <br th:if= "${!diaAgendamento.h_11}">

                    <label th:if= "${!diaAgendamento.h_12}" for="h_12" class="form-check-label">12 horas:</label>
                    <input th:if= "${!diaAgendamento.h_12}" type="checkbox" th:field="${diaCliente.h_12}" class="form-check-input" th:value = "${diaCliente.h_12}">
                    <br th:if= "${!diaAgendamento.h_12}">
                    
                    <label th:if= "${!diaAgendamento.h_13}" for="h_13" class="form-check-label">13 horas:</label>
                    <input th:if= "${!diaAgendamento.h_13}" type="checkbox" th:field="${diaCliente.h_13}" class="form-check-input" th:value = "${diaCliente.h_13}">
                    <br th:if= "${!diaAgendamento.h_13}">
                    
                    <label th:if= "${!diaAgendamento.h_14}" for="h_14" class="form-check-label">14 horas:</label>
                    <input th:if= "${!diaAgendamento.h_14}" type="checkbox" th:field="${diaCliente.h_14}" class="form-check-input" th:value = "${diaCliente.h_14}">
                    <br th:if= "${!diaAgendamento.h_14}">
                    
                    <label th:if= "${!diaAgendamento.h_15}" for="h_15" class="form-check-label">15 horas:</label>
                    <input th:if= "${!diaAgendamento.h_15}" type="checkbox" th:field="${diaCliente.h_15}" class="form-check-input" th:value = "${diaCliente.h_15}">
                    <br th:if= "${!diaAgendamento.h_15}">
                    
                    <label th:if= "${!diaAgendamento.h_16}" for="h_16" class="form-check-label">16 horas:</label>
                    <input th:if= "${!diaAgendamento.h_16}" type="checkbox" th:field="${diaCliente.h_16}" class="form-check-input" th:value = "${diaCliente.h_16}">
                    <br th:if= "${!diaAgendamento.h_16}">
                    
                    <label th:if= "${!diaAgendamento.h_17}" for="h_17" class="form-check-label">17 horas:</label>
                    <input th:if= "${!diaAgendamento.h_17}" type="checkbox" th:field="${diaCliente.h_17}" class="form-check-input" th:value = "${diaCliente.h_17}">
                    <br th:if= "${!diaAgendamento.h_17}">
					
                    <input type="submit" value="Confirmar Horario" class="btn btn-primary mt-3">

                </form>

				<div th:if="${notificacao != null}" th:object="${notificacao}">
					<input type="hidden" id="mensagem" th:value="*{mensagem}">
					<input type="hidden" id="tipo" th:value="*{tipo}">
					<input type="hidden" id="intervalo" th:value="*{intervalo}">
				</div>

			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

</body>
</html>